@charset "UTF-8";
/*===========MERRIWATHER================*/
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/MerriweatherRegular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/MerriweatherBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/MerriweatherItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/*===========MONTSERRAT================*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratRegular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratBold.ttf") format("truetype");
  font-weight: bold;
}

/*===========RALEWAY================*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.backgroundForHeader {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #eff0f2;
  width: 100%;
  height: 805px;
}

.backgroundForAboutUs img {
  top: 805px;
  position: absolute;
  width: 100%;
  height: 985px;
}

.backgroundForOurServices {
  top: 2956px;
  position: absolute;
  background-color: #f9fbfb;
  width: 100%;
  height: 1618px;
  z-index: 0;
}

.backgroundForWhatTheySays {
  top: 5888px;
  position: absolute;
  background-color: #f9fbfb;
  width: 100%;
  height: 923px;
  z-index: 0;
}

.backgroundForSendMessage img {
  bottom: 312px;
  position: absolute;
  width: 100%;
  height: 704px;
  z-index: 0;
}

.backgroundForFooter {
  background-color: #262b2e;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 312px;
  z-index: 0;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header {
  width: 100%;
  background-color: #eff0f2;
  height: 805px;
  overflow: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigationMenu {
  position: absolute;
  background: #bebfc1;
  top: -50%;
  right: 212px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__navigationMenu.active {
  top: 75px;
}

.header__navigationMenuList li {
  list-style: none;
  display: inline-block;
  padding: 5px 0;
}

.header__navigationMenuList li a {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #3c3c3d;
  padding: 5px 5px;
}

.header__navigationMenuList li a:hover {
  background: #9d9ea0;
}

.header__logo {
  top: 64px;
  left: 150px;
  position: absolute;
  font-family: "Montserrat";
  font-weight: bold;
  color: #000;
  font-size: 17px;
  border: 5px solid #000;
  height: 46px;
  width: 113px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0px 1px #7c7880;
          box-shadow: inset 0 0 0px 1px #7c7880;
  text-align: center;
  padding-top: 4px;
}

.header__blueLetter {
  font-size: 21px;
  color: #77efe5;
}

.header__burger {
  top: 80px;
  right: 152px;
  position: absolute;
  width: 30px;
  height: 22px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header__burgerLine {
  background-color: #606061;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burgerLine_firstLine {
  margin-bottom: 5px;
}

.header__burgerLine_lastLine {
  margin-top: 5px;
}

.header__burgerLine.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__burgerLine_firstLine.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 0;
  top: 0;
  left: 10px;
  position: absolute;
  width: 75%;
}

.header__burgerLine_lastLine.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
  top: 0;
  right: 10px;
  position: absolute;
  width: 75%;
}

.header__text {
  font-family: "Montserrat";
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 45px;
  color: #505050;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 315px;
  line-height: 36px;
  text-shadow: 5px 5px 7px #cdced0;
}

.header__textFirstString {
  margin: 0 0 25px 0;
}

.header__textSecondString {
  margin: 0;
}

.header__wordInString {
  background-color: #b2f2ee;
  padding: 0px 11px 2px 11px;
  text-shadow: 5px 5px 7px #9dd6d2;
}

.header__juiceGlass {
  position: absolute;
  top: 574px;
  right: 202px;
  height: 152px;
  width: 120px;
}

.header__button {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  border: 2px solid #777879;
  color: #3c3c3d;
  text-decoration: none;
  height: 53px;
  width: 232px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  padding-top: 14px;
  top: 557px;
  position: absolute;
  letter-spacing: 0.2em;
}

.containerAboutUs {
  width: 100%;
  height: 985px;
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.containerAboutUs__title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  color: #363636;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 17px;
}

.containerAboutUs__subtitle {
  font-family: "Merriweather";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: #838484;
  margin-bottom: 147px;
}

.containerAboutUs__contentAboutUs {
  margin: 0 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerAboutUs__slider {
  position: relative;
  min-width: 480px;
  height: 483px;
}

.containerAboutUs__backgroundSlide {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 412px;
}

.containerAboutUs__slide {
  position: absolute;
  top: 0;
  left: 44px;
  width: 392px;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 2px #cdced0;
          box-shadow: 0 0 20px 2px #cdced0;
}

.containerAboutUs__dotts {
  position: absolute;
  bottom: -43px;
  left: calc(50% - (50px / 2));
}

.containerAboutUs__articles {
  margin-left: 112px;
}

.containerAboutUs__titleArticle {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #646464;
}

.containerAboutUs__articleText {
  font-family: "Raleway";
  font-size: 16px;
  color: #919292;
  line-height: 24px;
}

.containerFeaturedWorks {
  width: 100%;
  height: 1165px;
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerFeaturedWorks__title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  color: #363636;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 17px;
}

.containerFeaturedWorks__subtitle {
  font-family: "Merriweather";
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #838484;
  margin-bottom: 122px;
}

.containerFeaturedWorks__gridContainerForImages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  -ms-grid-rows: (359px)[2];
      grid-template-rows: repeat(2, 359px);
  grid-gap: 13px 14px;
  margin: 0 150px;
}

.containerFeaturedWorks__gridImage1 {
  background: url("../image/featuredWorks/img1.png") 0 0 no-repeat;
  background-size: cover;
}

.containerFeaturedWorks__gridImage2 {
  background: url("../image/featuredWorks/img2.png") 0 0 no-repeat;
  background-size: cover;
}

.containerFeaturedWorks__gridImage3 {
  background: url("../image/featuredWorks/img3.png") 0 0 no-repeat;
  background-size: cover;
}

.containerFeaturedWorks__gridImage4 {
  background: url("../image/featuredWorks/img4.png") 0 0 no-repeat;
  background-size: cover;
}

.containerFeaturedWorks__gridImage5 {
  background: url("../image/featuredWorks/img5.png") 0 0 no-repeat;
  background-size: cover;
}

.containerFeaturedWorks__gridImage6 {
  background: url("../image/featuredWorks/img6.png") 0 0 no-repeat;
  background-size: cover;
}

.containerOurServices {
  width: 100%;
  height: 1618px;
  padding-top: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.containerOurServices__title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  color: #363636;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 17px;
}

.containerOurServices__subtitle {
  font-family: "Merriweather";
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #838484;
  margin-bottom: 122px;
}

.containerOurServices__flexContainerForRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 151px 0 150px;
}

.containerOurServices__flexRowOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 422px;
  margin-bottom: 12px;
  overflow: hidden;
}

.containerOurServices__flexRowOne .item1 {
  margin-right: 14px;
  position: relative;
}

.containerOurServices__flexRowOne .item1 .item1Content {
  position: absolute;
  top: 183px;
  left: 67px;
}

.containerOurServices__flexRowOne .item1 .item1Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowOne .item1 .item1Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowOne .item1 .item1Content__subtitle p:first-child {
  margin-bottom: 12px;
}

.containerOurServices__flexRowOne .item1__more {
  position: absolute;
  bottom: 58px;
  left: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowOne .item1__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowOne .item1__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowOne .item1__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  right: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowOne .item1 .item1ContentMore.active {
  right: 0;
}

.containerOurServices__flexRowOne .item2 {
  position: relative;
}

.containerOurServices__flexRowOne .item2 .item2Content {
  position: absolute;
  top: 183px;
  left: 67px;
}

.containerOurServices__flexRowOne .item2 .item2Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowOne .item2 .item2Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowOne .item2 .item2Content__subtitle p:not(:last-child) {
  margin-bottom: 12px;
}

.containerOurServices__flexRowOne .item2__more {
  position: absolute;
  bottom: 58px;
  left: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowOne .item2__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowOne .item2__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowOne .item2__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  left: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowOne .item2 .item2ContentMore.active {
  left: 0;
}

.containerOurServices__flexRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 371px;
  margin-bottom: 13px;
  overflow: hidden;
}

.containerOurServices__flexRowTwo .item3 {
  position: relative;
  margin-right: 14px;
}

.containerOurServices__flexRowTwo .item3 .item3Content {
  position: absolute;
  top: 165px;
  left: 65px;
}

.containerOurServices__flexRowTwo .item3 .item3Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowTwo .item3 .item3Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowTwo .item3 .item3Content__subtitle p:first-child {
  margin-bottom: 12px;
}

.containerOurServices__flexRowTwo .item3__more {
  position: absolute;
  bottom: 54px;
  left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowTwo .item3__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowTwo .item3__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowTwo .item3__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  right: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowTwo .item3 .item3ContentMore.active {
  right: 0;
}

.containerOurServices__flexRowTwo .item4 {
  margin-top: 1px;
  position: relative;
}

.containerOurServices__flexRowTwo .item4 .item4Content {
  position: absolute;
  top: 164px;
  left: 66px;
}

.containerOurServices__flexRowTwo .item4 .item4Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowTwo .item4 .item4Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowTwo .item4 .item4Content__subtitle p:first-child {
  margin-bottom: 12px;
}

.containerOurServices__flexRowTwo .item4__more {
  position: absolute;
  bottom: 54px;
  left: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowTwo .item4__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowTwo .item4__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowTwo .item4__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  left: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowTwo .item4 .item4ContentMore.active {
  left: 0;
}

.containerOurServices__flexRowThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 371px;
  overflow: hidden;
}

.containerOurServices__flexRowThree .item5 {
  margin-right: 15px;
  position: relative;
}

.containerOurServices__flexRowThree .item5 .item5Content {
  position: absolute;
  top: 130px;
  left: 64px;
}

.containerOurServices__flexRowThree .item5 .item5Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowThree .item5 .item5Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowThree .item5 .item5Content__subtitle p:not(:last-child) {
  margin-bottom: 12px;
}

.containerOurServices__flexRowThree .item5__more {
  position: absolute;
  bottom: 57px;
  left: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowThree .item5__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowThree .item5__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowThree .item5__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  right: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowThree .item5 .item5ContentMore.active {
  right: 0;
}

.containerOurServices__flexRowThree .item6 {
  position: relative;
}

.containerOurServices__flexRowThree .item6 .item6Content {
  position: absolute;
  top: 130px;
  left: 69px;
}

.containerOurServices__flexRowThree .item6 .item6Content__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #f6f6f6;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.containerOurServices__flexRowThree .item6 .item6Content__subtitle {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 14px;
  margin-bottom: 55px;
}

.containerOurServices__flexRowThree .item6 .item6Content__subtitle p:not(:last-child) {
  margin-bottom: 12px;
}

.containerOurServices__flexRowThree .item6__more {
  position: absolute;
  bottom: 57px;
  left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 165px;
}

.containerOurServices__flexRowThree .item6__moreText {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "RalewayMedium";
  font-size: 19px;
  line-height: 16px;
  color: #dedede;
  margin-right: 16px;
  padding: 2px 0;
}

.containerOurServices__flexRowThree .item6__arrow {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding-top: 2px;
}

.containerOurServices__flexRowThree .item6__arrow.active {
  margin-left: 5px;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #70f5e8;
  background-size: cover;
  left: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore__text {
  position: absolute;
  top: 64px;
  left: 66px;
  right: 120px;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore__title {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #234c49;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore__article {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #387a74;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore__сross {
  position: absolute;
  left: 66px;
  bottom: 56px;
  cursor: pointer;
}

.containerOurServices__flexRowThree .item6 .item6ContentMore.active {
  left: 0;
}

.containerSmallTeam {
  width: 100%;
  height: 1314px;
  padding-top: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerSmallTeam__title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  color: #373737;
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 14px;
}

.containerSmallTeam__subtitle {
  font-family: "Merriweather";
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
  color: #878787;
  margin-bottom: 122px;
  line-height: 17px;
}

.containerSmallTeam__gridContainerForPhotos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  -ms-grid-rows: (440px)[2];
      grid-template-rows: repeat(2, 440px);
  grid-gap: 14px 15px;
  margin: 0 150px 0 149px;
}

.containerSmallTeam__gridPhoto1 {
  background: url("../image/smallTeam/photo1.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 1px;
}

.containerSmallTeam__gridPhoto1 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto1:hover div {
  opacity: 1;
}

.containerSmallTeam__gridPhoto2 {
  background: url("../image/smallTeam/photo2.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

.containerSmallTeam__gridPhoto2 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto2:hover div {
  opacity: 1;
}

.containerSmallTeam__gridPhoto3 {
  background: url("../image/smallTeam/photo3.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

.containerSmallTeam__gridPhoto3 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto3:hover div {
  opacity: 1;
}

.containerSmallTeam__gridPhoto4 {
  background: url("../image/smallTeam/photo4.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 1px;
}

.containerSmallTeam__gridPhoto4 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto4:hover div {
  opacity: 1;
}

.containerSmallTeam__gridPhoto5 {
  background: url("../image/smallTeam/photo5.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

.containerSmallTeam__gridPhoto5 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto5:hover div {
  opacity: 1;
}

.containerSmallTeam__gridPhoto6 {
  background: url("../image/smallTeam/photo6.png") 0 0 no-repeat;
  background-size: cover;
  position: relative;
}

.containerSmallTeam__gridPhoto6 div {
  opacity: 0;
}

.containerSmallTeam__gridPhoto6:hover div {
  opacity: 1;
}

.containerSmallTeam__message {
  position: absolute;
  top: 165px;
  left: 18px;
  width: 335px;
  height: 260px;
  padding: 62px 39px 42px;
  background: url("../image/smallTeam/messageBg.png") 0 0 no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.containerSmallTeam__message .author {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  color: #2c3938;
  line-height: 20px;
  margin-bottom: 20px;
}

.containerSmallTeam__message .author .post {
  font-family: "Merriweather";
  font-weight: normal;
  font-size: 15px;
  font-style: italic;
  color: #767878;
}

.containerSmallTeam__message .messageText {
  font-family: "Raleway";
  font-size: 16px;
  color: #3d8680;
  line-height: 1.5em;
  margin-bottom: 36px;
}

.containerSmallTeam__message .socialNetworks {
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.containerSmallTeam__message .socialNetworks .socialNetworksList li {
  display: inline-block;
}

.containerSmallTeam__message .socialNetworks .socialNetworksList li:not(:last-child) {
  margin-right: 12px;
}

.containerWhatTheySays {
  width: 100%;
  height: 923px;
  width: 100%;
  height: 923px;
  padding-top: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.containerWhatTheySays__title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  color: #363636;
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 14px;
}

.containerWhatTheySays__subtitle {
  font-family: "Merriweather";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  color: #848585;
  margin-bottom: 138px;
}

.containerWhatTheySays__contentWhatTheySays {
  margin: 0 151px 0 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerWhatTheySays__slider {
  position: relative;
  min-width: 393px;
  height: 410px;
}

.containerWhatTheySays__slider .sliderDotts {
  position: absolute;
  bottom: -47px;
  left: calc(50% - (50px / 2));
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.containerWhatTheySays__slider .sliderDotts .dot {
  width: 10px;
  height: 10px;
  background: url("../image/sliderDotts/dot.png") 0 0 no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.containerWhatTheySays__slider .sliderDotts .dot:hover {
  background: url("../image/sliderDotts/dotHover.png") 0 0 no-repeat;
  background-size: cover;
}

.containerWhatTheySays__backgroundSlide {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 362px;
}

.containerWhatTheySays__slide {
  position: absolute;
  top: 0;
  left: 37px;
  width: 319px;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 2px #cdced0;
          box-shadow: 0 0 20px 2px #cdced0;
}

.containerWhatTheySays__review {
  margin-left: 82px;
  background-color: #eaebed;
  margin-top: 24px;
  width: 666px;
  height: 362px;
  text-align: center;
  padding: 101px 81px 69px 85px;
  position: relative;
}

.containerWhatTheySays__reviewAuthor {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 25px;
}

.containerWhatTheySays__reviewAuthor .post {
  font-family: "Merriweather";
  font-weight: normal;
  font-style: italic;
  font-size: 15px;
  text-transform: uppercase;
  color: #878787;
}

.containerWhatTheySays__reviewText {
  font-family: "Raleway";
  font-size: 16px;
  color: #8f9091;
  line-height: 24px;
  margin-bottom: 33px;
  letter-spacing: 0.03em;
}

.containerWhatTheySays__buttons {
  position: absolute;
  bottom: -83px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerWhatTheySays__buttons .buttonRight,
.containerWhatTheySays__buttons .buttonLeft {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px 2px #eef0f0;
          box-shadow: 0 0 20px 2px #eef0f0;
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.containerWhatTheySays__buttons .buttonRight .hover,
.containerWhatTheySays__buttons .buttonLeft .hover {
  display: none;
}

.containerWhatTheySays__buttons .buttonRight:hover,
.containerWhatTheySays__buttons .buttonLeft:hover {
  background-color: #71f6eb;
}

.containerWhatTheySays__buttons .buttonRight:hover .hover,
.containerWhatTheySays__buttons .buttonLeft:hover .hover {
  display: block;
}

.containerWhatTheySays__buttons .buttonRight:hover .noHover,
.containerWhatTheySays__buttons .buttonLeft:hover .noHover {
  display: none;
}

.containerWhatTheySays__buttons .buttonLeft {
  margin-right: 29px;
}

.containerSponsors {
  height: 387px;
  width: 100%;
  padding: 108px 153px 107px 154px;
}

.containerSendMessage {
  width: 100%;
  height: 704px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 121px;
  margin: 0 149px 0px 151px;
  z-index: 1;
}

.containerSendMessage__form {
  width: 614px;
  height: 460px;
  background: rgba(2, 22, 35, 0.71);
  margin-right: 26px;
  padding: 33px 33px 0 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerSendMessage__form input,
.containerSendMessage__form textarea {
  line-height: 3.4;
  background: none;
  border-bottom: 2px solid #5c6d77;
  padding: 0 4px;
  width: 550px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerSendMessage__form input::-webkit-input-placeholder,
.containerSendMessage__form textarea::-webkit-input-placeholder {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
  color: #c0c5c8;
}

.containerSendMessage__form input:-ms-input-placeholder,
.containerSendMessage__form textarea:-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
  color: #c0c5c8;
}

.containerSendMessage__form input::-ms-input-placeholder,
.containerSendMessage__form textarea::-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
  color: #c0c5c8;
}

.containerSendMessage__form input::placeholder,
.containerSendMessage__form textarea::placeholder {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
  color: #c0c5c8;
}

.containerSendMessage__form textarea {
  height: 136px;
  border-bottom: 1px solid #5c6d77;
  resize: none;
}

.containerSendMessage__form button {
  margin-top: 38px;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  padding: 19px 37px;
  background: #6eeee4;
  color: #326b67;
  border-radius: 3px;
  letter-spacing: 4px;
  line-height: 1.556;
}

.containerSendMessage__adress {
  width: 500px;
  height: 461px;
  background: rgba(2, 22, 35, 0.71);
  padding: 35px 23px 19px 22px;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #d2d5d7;
}

.containerSendMessage__adress .contactDetails {
  padding-left: 9px;
}

.containerSendMessage__adress .contactDetails p {
  margin-bottom: 11px;
}

.containerSendMessage__adress .contactDetails p:last-child {
  margin-bottom: 32px;
}

.containerSendMessage__adress .webDetails {
  padding-left: 9px;
  margin-bottom: 22px;
}

.containerSendMessage__adress .webDetails a {
  text-decoration: none;
  color: #d2d5d7;
}

.containerSendMessage__adress .webDetails .email {
  margin-top: 12px;
}

.containerSendMessage__adress img {
  width: 455px;
  height: 224px;
}

.footer {
  height: 312px;
  width: 100%;
  z-index: 1;
  padding-top: 92px;
  color: #686a6c;
  text-align: center;
}

.footer__title {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 18px;
  color: #dedfdf;
}

.footer__networksList li {
  list-style: none;
  display: inline-block;
}

.footer__networksList li a .notHover {
  display: block;
}

.footer__networksList li a .hover {
  display: none;
}

.footer__networksList li a:hover .notHover {
  display: none;
}

.footer__networksList li a:hover .hover {
  display: block;
}

.footer__subtitle {
  margin-top: 41px;
  font-family: "RalewayMedium";
  font-size: 16px;
  line-height: 16px;
}
