/*===========MERRIWATHER================*/
@font-face {
   font-family: "Merriweather";
   src: url("../fonts/MerriweatherRegular.ttf") format("truetype");
   font-weight: normal;
}
@font-face {
   font-family: "Merriweather";
   src: url("../fonts/MerriweatherBold.ttf") format("truetype");
   font-weight: bold;
}
@font-face {
   font-family: "Merriweather";
   src: url("../fonts/MerriweatherItalic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
}

/*===========MONTSERRAT================*/
@font-face {
   font-family: "Montserrat";
   src: url("../fonts/MontserratRegular.ttf") format("truetype");
   font-weight: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("../fonts/MontserratBold.ttf") format("truetype");
   font-weight: bold;
}

/*===========RALEWAY================*/
@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Regular.ttf") format("truetype");
   font-weight: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Bold.ttf") format("truetype");
   font-weight: bold;
}

@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Raleway";
   src: url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "RalewayMedium";
   src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}
