@import "fonts";
@import "normalize";

body {
   position: relative;
}
.backgroundForHeader {
   top: 0;
   left: 0;
   position: absolute;
   background-color: #eff0f2;
   width: 100%;
   height: 805px;
}
.backgroundForAboutUs img {
   top: 805px;
   position: absolute;
   width: 100%;
   height: 985px;
}
.backgroundForOurServices {
   top: 2956px;
   position: absolute;
   background-color: #f9fbfb;
   width: 100%;
   height: 1618px;
   z-index: 0;
}
.backgroundForWhatTheySays {
   top: 5888px;
   position: absolute;
   background-color: #f9fbfb;
   width: 100%;
   height: 923px;
   z-index: 0;
}
.backgroundForSendMessage img {
   bottom: 312px;
   position: absolute;
   width: 100%;
   height: 704px;
   z-index: 0;
}
.backgroundForFooter {
   background-color: #262b2e;
   bottom: 0;
   left: 0;
   position: absolute;
   width: 100%;
   height: 312px;
   z-index: 0;
}
.container {
   margin: 0 auto;
   max-width: 1400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.header {
   width: 100%;
   background-color: #eff0f2;
   height: 805px;
   overflow: auto;
   z-index: 1;
   display: flex;
   justify-content: center;
   &__navigationMenu {
      position: absolute;
      background: #bebfc1;
      top: -50%;
      right: 212px;
      transition: all 0.5s ease 0s;
   }
   &__navigationMenu.active {
      top: 75px;
   }
   &__navigationMenuList li {
      list-style: none;
      display: inline-block;
      padding: 5px 0;
   }
   &__navigationMenuList li a {
      font-family: "Montserrat";
      font-weight: normal;
      font-size: 18px;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      color: #3c3c3d;
      padding: 5px 5px;
      &:hover {
         background: #9d9ea0;
      }
   }
   &__logo {
      top: 64px;
      left: 150px;
      position: absolute;
      font-family: "Montserrat";
      font-weight: bold;
      color: #000;
      font-size: 17px;
      border: 5px solid #000;
      height: 46px;
      width: 113px;
      box-sizing: border-box;
      box-shadow: inset 0 0 0px 1px #7c7880;
      text-align: center;
      padding-top: 4px;
   }
   &__blueLetter {
      font-size: 21px;
      color: #77efe5;
   }
   &__burger {
      top: 80px;
      right: 152px;
      position: absolute;
      width: 30px;
      height: 22px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.3s ease 0s;
      cursor: pointer;
   }

   &__burgerLine {
      background-color: #606061;
      border-radius: 5px;
      width: 100%;
      height: 4px;
      transition: all 0.3s ease 0s;
      &_firstLine {
         margin-bottom: 5px;
      }
      &_lastLine {
         margin-top: 5px;
      }
   }
   &__burgerLine.active {
      transform: rotate(-90deg);
   }
   &__burgerLine_firstLine.active {
      transform: rotate(45deg);
      margin-bottom: 0;
      top: 0;
      left: 10px;
      position: absolute;
      width: 75%;
   }
   &__burgerLine_lastLine.active {
      transform: rotate(-45deg);
      margin-top: 0;
      top: 0;
      right: 10px;
      position: absolute;
      width: 75%;
   }
   &__text {
      font-family: "Montserrat";
      letter-spacing: 0.02em;
      font-weight: bold;
      font-size: 45px;
      color: #505050;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 315px;
      line-height: 36px;
      text-shadow: 5px 5px 7px #cdced0;
   }
   &__textFirstString {
      margin: 0 0 25px 0;
   }
   &__textSecondString {
      margin: 0;
   }
   &__wordInString {
      background-color: #b2f2ee;
      padding: 0px 11px 2px 11px;
      text-shadow: 5px 5px 7px #9dd6d2;
   }
   &__juiceGlass {
      position: absolute;
      top: 574px;
      right: 202px;
      height: 152px;
      width: 120px;
   }
   &__button {
      font-family: "Montserrat";
      font-weight: normal;
      font-size: 18px;
      border: 2px solid #777879;
      color: #3c3c3d;
      text-decoration: none;
      height: 53px;
      width: 232px;
      box-sizing: border-box;
      text-transform: uppercase;
      text-align: center;
      padding-top: 14px;
      top: 557px;
      position: absolute;
      letter-spacing: 0.2em;
   }
}
.mainPage {
}
.containerAboutUs {
   width: 100%;
   height: 985px;
   padding-top: 128px;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   &__title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 38px;
      color: #363636;
      text-transform: uppercase;
      line-height: 30px;
      margin-bottom: 17px;
   }
   &__subtitle {
      font-family: "Merriweather";
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      color: #838484;
      margin-bottom: 147px;
   }
   &__contentAboutUs {
      margin: 0 186px;
      display: flex;
      flex-direction: row;
   }
   &__slider {
      position: relative;
      min-width: 480px;
      height: 483px;
   }
   &__backgroundSlide {
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
      height: 412px;
   }
   &__slide {
      position: absolute;
      top: 0;
      left: 44px;
      width: 392px;
      height: 100%;
      box-shadow: 0 0 20px 2px #cdced0;
   }
   &__dotts {
      position: absolute;
      bottom: -43px;
      left: calc(50% - (50px / 2));
   }
   &__articles {
      margin-left: 112px;
   }
   &__titleArticle {
      font-family: "Merriweather";
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #646464;
   }
   &__articleText {
      font-family: "Raleway";
      font-size: 16px;
      color: #919292;
      line-height: 24px;
   }
}
.containerFeaturedWorks {
   width: 100%;
   height: 1165px;
   padding-top: 128px;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 38px;
      color: #363636;
      text-transform: uppercase;
      line-height: 30px;
      margin-bottom: 17px;
   }
   &__subtitle {
      font-family: "Merriweather";
      font-weight: normal;
      font-size: 17px;
      line-height: 17px;
      text-transform: uppercase;
      color: #838484;
      margin-bottom: 122px;
   }
   &__gridContainerForImages {
      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-template-rows: repeat(2, 359px);
      grid-gap: 13px 14px;
      margin: 0 150px;
   }
   &__gridImage1 {
      background: url("../image/featuredWorks/img1.png") 0 0 no-repeat;
      background-size: cover;
   }
   &__gridImage2 {
      background: url("../image/featuredWorks/img2.png") 0 0 no-repeat;
      background-size: cover;
   }
   &__gridImage3 {
      background: url("../image/featuredWorks/img3.png") 0 0 no-repeat;
      background-size: cover;
   }
   &__gridImage4 {
      background: url("../image/featuredWorks/img4.png") 0 0 no-repeat;
      background-size: cover;
   }
   &__gridImage5 {
      background: url("../image/featuredWorks/img5.png") 0 0 no-repeat;
      background-size: cover;
   }
   &__gridImage6 {
      background: url("../image/featuredWorks/img6.png") 0 0 no-repeat;
      background-size: cover;
   }
}
.containerOurServices {
   width: 100%;
   height: 1618px;
   padding-top: 123px;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   &__title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 38px;
      color: #363636;
      text-transform: uppercase;
      line-height: 30px;
      margin-bottom: 17px;
   }
   &__subtitle {
      font-family: "Merriweather";
      font-weight: normal;
      font-size: 17px;
      line-height: 17px;
      text-transform: uppercase;
      color: #838484;
      margin-bottom: 122px;
   }
   &__flexContainerForRows {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 151px 0 150px;
   }
   &__flexRowOne {
      display: flex;
      flex-direction: row;
      height: 422px;
      margin-bottom: 12px;
      overflow: hidden;
      .item1 {
         margin-right: 14px;
         position: relative;
         .item1Content {
            position: absolute;
            top: 183px;
            left: 67px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:first-child {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 58px;
            left: 67px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item1ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            right: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item1ContentMore.active {
            right: 0;
         }
      }
      .item2 {
         position: relative;
         .item2Content {
            position: absolute;
            top: 183px;
            left: 67px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:not(:last-child) {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 58px;
            left: 67px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item2ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            left: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item2ContentMore.active {
            left: 0;
         }
      }
   }
   &__flexRowTwo {
      display: flex;
      flex-direction: row;
      height: 371px;
      margin-bottom: 13px;
      overflow: hidden;
      .item3 {
         position: relative;
         margin-right: 14px;
         .item3Content {
            position: absolute;
            top: 165px;
            left: 65px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:first-child {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 54px;
            left: 65px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item3ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            right: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item3ContentMore.active {
            right: 0;
         }
      }
      .item4 {
         margin-top: 1px;
         position: relative;
         .item4Content {
            position: absolute;
            top: 164px;
            left: 66px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:first-child {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 54px;
            left: 66px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item4ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            left: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item4ContentMore.active {
            left: 0;
         }
      }
   }
   &__flexRowThree {
      display: flex;
      flex-direction: row;
      height: 371px;
      overflow: hidden;
      .item5 {
         margin-right: 15px;
         position: relative;
         .item5Content {
            position: absolute;
            top: 130px;
            left: 64px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:not(:last-child) {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 57px;
            left: 68px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item5ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            right: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item5ContentMore.active {
            right: 0;
         }
      }
      .item6 {
         position: relative;
         .item6Content {
            position: absolute;
            top: 130px;
            left: 69px;
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #f6f6f6;
               line-height: 18px;
               text-transform: uppercase;
               margin-bottom: 28px;
            }
            &__subtitle {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               color: #f1f1f1;
               line-height: 14px;
               margin-bottom: 55px;
               p:not(:last-child) {
                  margin-bottom: 12px;
               }
            }
         }
         &__more {
            position: absolute;
            bottom: 57px;
            left: 72px;
            display: flex;
            flex-direction: row;
            width: 165px;
         }
         &__moreText {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "RalewayMedium";
            font-size: 19px;
            line-height: 16px;
            color: #dedede;
            margin-right: 16px;
            padding: 2px 0;
         }
         &__arrow {
            transition: all 0.2s ease 0s;
            padding-top: 2px;
         }
         &__arrow.active {
            margin-left: 5px;
         }
         .item6ContentMore {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #70f5e8;
            background-size: cover;
            left: 100%;
            transition: all 0.3s ease 0.3s;
            &__text {
               position: absolute;
               top: 64px;
               left: 66px;
               right: 120px;
            }
            &__title {
               font-family: "Merriweather";
               font-weight: bold;
               font-size: 20px;
               color: #234c49;
               text-transform: uppercase;
               line-height: 16px;
               margin-bottom: 32px;
            }
            &__article {
               font-family: "Raleway";
               font-weight: normal;
               font-size: 16px;
               line-height: 26px;
               color: #387a74;
            }
            &__сross {
               position: absolute;
               left: 66px;
               bottom: 56px;
               cursor: pointer;
            }
         }
         .item6ContentMore.active {
            left: 0;
         }
      }
   }
}
.containerSmallTeam {
   width: 100%;
   height: 1314px;
   padding-top: 121px;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 38px;
      color: #373737;
      text-transform: uppercase;
      line-height: 32px;
      margin-bottom: 14px;
   }
   &__subtitle {
      font-family: "Merriweather";
      font-weight: normal;
      font-size: 17px;
      text-transform: uppercase;
      color: #878787;
      margin-bottom: 122px;
      line-height: 17px;
   }
   &__gridContainerForPhotos {
      display: grid;
      grid-template-columns: repeat(3, 370px);
      grid-template-rows: repeat(2, 440px);
      grid-gap: 14px 15px;
      margin: 0 150px 0 149px;
   }
   &__gridPhoto1 {
      background: url("../image/smallTeam/photo1.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      margin-right: 1px;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__gridPhoto2 {
      background: url("../image/smallTeam/photo2.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__gridPhoto3 {
      background: url("../image/smallTeam/photo3.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__gridPhoto4 {
      background: url("../image/smallTeam/photo4.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      margin-right: 1px;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__gridPhoto5 {
      background: url("../image/smallTeam/photo5.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__gridPhoto6 {
      background: url("../image/smallTeam/photo6.png") 0 0 no-repeat;
      background-size: cover;
      position: relative;
      div {
         opacity: 0;
      }
      &:hover {
         div {
            opacity: 1;
         }
      }
   }
   &__message {
      position: absolute;
      top: 165px;
      left: 18px;
      width: 335px;
      height: 260px;
      padding: 62px 39px 42px;
      background: url("../image/smallTeam/messageBg.png") 0 0 no-repeat;
      background-size: cover;
      transition: all 0.5s ease 0.5s;
      .author {
         font-family: "Merriweather";
         font-weight: bold;
         font-size: 20px;
         color: #2c3938;
         line-height: 20px;
         margin-bottom: 20px;
         .post {
            font-family: "Merriweather";
            font-weight: normal;
            font-size: 15px;
            font-style: italic;
            color: #767878;
         }
      }
      .messageText {
         font-family: "Raleway";
         font-size: 16px;
         color: #3d8680;
         line-height: 1.5em;
         margin-bottom: 36px;
      }
      .socialNetworks {
         transition: all 0.5s ease 0.5s;
         .socialNetworksList {
            li {
               display: inline-block;
               &:not(:last-child) {
                  margin-right: 12px;
               }
            }
         }
      }
   }
}
.containerWhatTheySays {
   width: 100%;
   height: 923px;
   width: 100%;
   height: 923px;
   padding-top: 119px;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   &__title {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 38px;
      color: #363636;
      text-transform: uppercase;
      line-height: 32px;
      margin-bottom: 14px;
   }
   &__subtitle {
      font-family: "Merriweather";
      font-weight: normal;
      text-transform: uppercase;
      font-size: 17px;
      line-height: 17px;
      color: #848585;
      margin-bottom: 138px;
   }
   &__contentWhatTheySays {
      margin: 0 151px 0 148px;
      display: flex;
      flex-direction: row;
   }
   &__slider {
      position: relative;
      min-width: 393px;
      height: 410px;
      .sliderDotts {
         position: absolute;
         bottom: -47px;
         left: calc(50% - (50px / 2));
         transition: all 0.2s ease 0s;
         .dot {
            width: 10px;
            height: 10px;
            background: url("../image/sliderDotts/dot.png") 0 0 no-repeat;
            background-size: cover;
            display: inline-block;
            cursor: pointer;
            &:hover {
               background: url("../image/sliderDotts/dotHover.png") 0 0 no-repeat;
               background-size: cover;
            }
         }
      }
   }
   &__backgroundSlide {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      height: 362px;
   }
   &__slide {
      position: absolute;
      top: 0;
      left: 37px;
      width: 319px;
      height: 100%;
      box-shadow: 0 0 20px 2px #cdced0;
   }
   &__review {
      margin-left: 82px;
      background-color: #eaebed;
      margin-top: 24px;
      width: 666px;
      height: 362px;
      text-align: center;
      padding: 101px 81px 69px 85px;
      position: relative;
   }
   &__reviewAuthor {
      font-family: "Merriweather";
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 25px;
      .post {
         font-family: "Merriweather";
         font-weight: normal;
         font-style: italic;
         font-size: 15px;
         text-transform: uppercase;
         color: #878787;
      }
   }
   &__reviewText {
      font-family: "Raleway";
      font-size: 16px;
      color: #8f9091;
      line-height: 24px;
      margin-bottom: 33px;
      letter-spacing: 0.03em;
   }
   &__buttons {
      position: absolute;
      bottom: -83px;
      right: 0;
      display: flex;
      flex-direction: row;
      .buttonRight,
      .buttonLeft {
         background-color: #fff;
         border-radius: 3px;
         box-shadow: 0 0 20px 2px #eef0f0;
         width: 53px;
         height: 53px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         .hover {
            display: none;
         }
         &:hover {
            background-color: #71f6eb;
            .hover {
               display: block;
            }
            .noHover {
               display: none;
            }
         }
      }
      .buttonLeft {
         margin-right: 29px;
      }
      .buttonRight {
      }
   }
}
.containerSponsors {
   height: 387px;
   width: 100%;
   padding: 108px 153px 107px 154px;
}
.containerSendMessage {
   width: 100%;
   height: 704px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-top: 121px;
   margin: 0 149px 0px 151px;
   z-index: 1;
   &__form {
      width: 614px;
      height: 460px;
      background: rgba(2, 22, 35, 0.71);
      margin-right: 26px;
      padding: 33px 33px 0 31px;
      display: flex;
      flex-direction: column;
      input,
      textarea {
         line-height: 3.4;
         background: none;
         border-bottom: 2px solid #5c6d77;
         padding: 0 4px;
         width: 550px;
         box-sizing: border-box;
         &::placeholder {
            font-family: "Raleway";
            font-weight: normal;
            font-size: 15px;
            color: #c0c5c8;
         }
      }
      textarea {
         height: 136px;
         border-bottom: 1px solid #5c6d77;
         resize: none;
      }
      button {
         margin-top: 38px;
         font-family: "Montserrat";
         font-weight: normal;
         font-size: 18px;
         text-transform: uppercase;
         padding: 19px 37px;
         background: #6eeee4;
         color: #326b67;
         border-radius: 3px;
         letter-spacing: 4px;
         line-height: 1.556;
      }
   }
   &__adress {
      width: 500px;
      height: 461px;
      background: rgba(2, 22, 35, 0.71);
      padding: 35px 23px 19px 22px;
      font-family: "Raleway";
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;
      color: #d2d5d7;
      .contactDetails {
         padding-left: 9px;
         p {
            margin-bottom: 11px;
            &:last-child {
               margin-bottom: 32px;
            }
         }
      }
      .webDetails {
         padding-left: 9px;
         margin-bottom: 22px;
         a {
            text-decoration: none;
            color: #d2d5d7;
         }
         .email {
            margin-top: 12px;
         }
      }
      img {
         width: 455px;
         height: 224px;
      }
   }
}
.footer {
   height: 312px;
   width: 100%;
   z-index: 1;
   padding-top: 92px;
   color: #686a6c;
   text-align: center;
   &__title {
      text-transform: uppercase;
      font-family: "Raleway";
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 18px;
      color: #dedfdf;
   }
   &__networksList {
      li {
         list-style: none;
         display: inline-block;
         a {
            .notHover {
               display: block;
            }
            .hover {
               display: none;
            }
            &:hover {
               .notHover {
                  display: none;
               }
               .hover {
                  display: block;
               }
            }
         }
      }
   }
   &__networksItem {
   }
   &__subtitle {
      margin-top: 41px;
      font-family: "RalewayMedium";
      font-size: 16px;
      line-height: 16px;
   }
}
